h1 {
  margin-top:10px;
  font-family: Cursive;
  font-size: 3rem;
  color: orange;
}

body {
  background-image: url("../images/darkbackground.png");
}

section {
  margin-top: 2rem;
  font-family: Cursive;
}

#search {
  border: 0.2rem solid skyblue;
  border-radius: 5rem;
  padding-left: 1rem;
  width: 100%;
  max-width: 500px;
}

#search:focus {
  outline: none;
  border: 0.5rem solid darkorange;
  box-shadow: 0 0 1rem;
}

img {
  width: 1.2em;
  height: 1.2em;
}
.button-control {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.btn{
  margin-left: 3%;
  margin-right: 3%;
}

footer {
  font-family: Arial;
  color: white;
  margin-top: 10rem;
}

.title {
  color: darkorange;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content {
  color: white;
}

.result {
  margin-top: 0.5rem;
  border: 0.2rem solid white;
  border-radius: 3rem;
  padding: 1rem;
}

.result:hover {
  border: 0.25rem solid dodgerblue;
}
.warnmessage{
  color: white;
  margin-top: 10%;
}