<!DOCTYPE html>
<html>

<head>
    <title>main</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/main.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Chicle" rel="stylesheet">
</head>

<body class="container">
    <header class="container text-center title-back">
        <h1>Hello <span>{{ name }}</span> !!</h1>
        <h2>It's my pleasure to have you here.</h2>
        <h2>Please give a try of these awesome apps ! <i class="far fa-smile"></i></h2>
    </header>
    <br>
    <br>
    <div class="container">
        <div class="row">
        <div class="col-12 col-md-4 myapp">
            <h4>Tic Tac Toe</h4>
            <hr/>
            <a href="/tictactoe"><img src="static/images/tictactoeicon.png" alt="tictactoe background"></a>
        </div>
        <div class="col-12 col-md-4 myapp">
            <h4>MiniWiki</h4>
            <hr/>
            <a href="/wikiapp"><img src="static/images/miniwiki.png" alt="miniwiki background"></a>
        </div>
        <div class="col-12 col-md-4 myapp">
            <h4>Simon Says</h4>
            <hr/>
            <a href="/simonsays"><img src="static/images/simonicon.png" alt="simon says background"></a>
        </div>
    </div>
    </div>
    <br>
    <br>
    <hr/>
    <footer class="container text-center contacts">
        
                <div class="container">
                <div class="row">
                    <div class="footer-col col-3">
                    <a href="https://www.linkedin.com/in/ziqing-wang-34549537/" target="_blank"><i class="fab fa-linkedin-in"></i></a>                        
                    </div>
                    <div class="footer-col col-3">
                       <a href="https://github.com/ziqingW" target="_blank"><i class="fab fa-github"></i></a>
                    </div>
                    <div class="footer-col col-3">
                        <a href="https://www.facebook.com/ziqing.wang.56" target="_blank"><i class="fab fa-facebook-square"></i></a>
                        
                    </div>
                    <div class="footer-col col-3">
                        <a href="http://residentevil.wikia.com/wiki/Umbrella_Corporation" target="_blank"><i class="fas fa-envelope"></i></a>
                        
                    </div>
                </div>
                <hr/>
                <h6>Created By Ziqing</h6>
                <h6>&#169;Copyright 2018. All Rights Reserved.</h6>
            </div>    
    </footer>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
