<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Simon says</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/simon.css" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
</head>


<body class="container">
  <!--<div class="hoola text-center">Cooler with sound on !</div>-->
  <div id="module">
    <div id="modal">
      <div id="modal-content">
        <h2>Congratulations~</h2>
        <h2>You outwitted SIMON!</h2>
        <br>
        <button><b>OK</b></button>
      </div>
    </div>
    <div id="modal1">
      <div id="modal-content1">
        <h2>How to Play</h2>
        <div id="info">
          <ol>
            <li>Turn on SIMON</li>
            <li>Click Start button, SIMON will speak from '01'</li>
            <li>Try your best to follow SIMON!
          </ol>
          <ul>
            <li>Click Start during session can restart the current loop</li>
            <span1>
              <li>NEVER touch the CRAZY button!!</br>ONLY IF YOU DARE</li>
            </span1>
          </ul>
        </div>
        <button id="button1"><b>OK</b></button>
      </div>
    </div>
    
    <div id="green"></div>
    <div id="red"></div>
    <div id="yellow"></div>
    <div id="blue"></div>
    <div id="center">
      <p id="logo">SIMON</p>
      <h6><b>Start</b></h6>
      <div id="loop">
        <h3>&mdash;&mdash;</h3>
      </div>
      <div id="start">
        <div id="light"></div>
      </div><span><b>CRAZY</b></span>
      <div id="crazy">
        <div id="light2"></div>
      </div>
    </div>
    <div id="greenb"></div>
    <div id="redb"></div>
    <div id="yellowb"></div>
    <div id="blueb"></div>
    <div id="switch">
      <p id="on">Off</p>
      <div class="slider">
      </div>
      <p id="off">On</p>
    </div>
  </div>
  <br>
  <footer class="text-center"><strong>Designed by <a href="https://www.linkedin.com/in/ziqing-wang-34549537/" target="_blank">Ziqing</a></strong></footer>
  <br>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/static/js/simon.js"></script>
</body>
</html>
