<!DOCTYPE html>
<html>

<head>
    <title>Welcome</title>
    <meta charset="UTF-8">
    <link href="static/css/modal_styles.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="chat-container">
    <div class="welcome_background">
            <div>
            <h1 class="chat-title">Welcome!</h1>
            <div class="chat-content">
            <h4>What is your name?</h4>
                        <form action="/main" method="GET">
                            <input type="text" name="name" placeholder="Your name" required>
                            <input type="submit" value="OK">
                        </form>
                    </div>
                </div>
            </div>
            </div>
</body>

</html>
